<% include ../partials/htmlHead.ejs%>

<body>
  <% include ../partials/htmlHeader.ejs%>
  <div class="parent-container">
    <div class="tabs">
      <ul>
        <nav
          class="navbar columns"
          role="navigation"
          aria-label="main navigation"
        >
          <div class="navbar-start">
            <li>
              <a class="navbar-item" href="/home/teacher">Classroom</a>
            </li>
          </div>
          <li><a class="navbar-item" href="/books/">Book Library</a></li>
          <li>
            <a class="navbar-item" href="/home/teacher/newuser"
              >Setup a New User</a
            >
          </li>
          <li>
            <a class="navbar-item" href="/home/teacher/edituser">Edit User</a>
          </li>
          <!-- <li>
                      <a class="navbar-item" href="/home/teacher/deleteuser"
                        >Delete User</a
                      >
                    </li> -->

          <div class="navbar-end">
            <!-- <div class="buttons"> -->
            <li><a class="navbar-item is-light" href="/home">Log Out</a></li>
          </div>
        </nav>
      </ul>
    </div>

    <div class="child-container">
      <h1>Student Report Page</h1>
      <p>First name: <strong><%=currentStudent.first_name%></strong></p>
      <p>Last name: <strong><%=currentStudent.last_name%></strong></p>
      <p>Reading level: <strong><%=currentStudent.reading_level%></strong></p>
      <p>In Book Bag: <strong><%=currentStudent.book_bag%></strong></p>
      <p>Books completed: <strong><%=currentStudent.completed%></strong></p>

      <!-- Add Delete form here -->
      <fieldset id="deletestudent">
        <form
          action="/home/teacher/<%=currentStudent.id%>?_method=DELETE"
          method="POST"
        >
          <div class="buttons is-centered">
            <input
              class="button is-danger is-focused"
              type="submit"
              value="Delete Student"
            />
          </div>
        </form>
      </fieldset>
    </div>
  </div>
  <%include ../partials/htmlFoot.ejs %>
</body>
