<% include ../partials/htmlHead.ejs %>
<body>
  <%include ../partials/htmlHeader.ejs%>
  <div class="parent-container">
    <div class="tabs">
      <ul>
        <nav
          class="navbar columns"
          role="navigation"
          aria-label="main navigation"
        >
          <div class="navbar-start">
            <li>
              <a class="navbar-item" href="/books/<%=book.id;%>/editBook"
                >Edit Book</a
              >
            </li>
          </div>
          <li><a class="navbar-item" href="/books/">Book Library</a></li>
          <li>
            <a class="navbar-item" href="/home/teacher/newuser"
              >Setup a New User</a
            >
          </li>
          <!-- <li>
            <a class="navbar-item" href="/home/teacher/edituser">Edit User</a>
          </li> -->
          <!-- <li>
            <a class="navbar-item" href="/home/teacher/deleteuser"
              >Delete User</a
            >
          </li> -->

          <div class="navbar-end">
            <!-- <div class="buttons"> -->
            <li><a class="navbar-item is-light" href="/home">Log Out</a></li>
          </div>
        </nav>
      </ul>
    </div>

    <div class="child-container">
      <h1><%=book.title%></h1>
      <img id="showbook" src="<%=book.image%>" />
      <p>Number of copies available: <%=book.quantity%></p>

      <!-- Add Delete form here -->
      <fieldset id="deletebook">
        <form action="/books/<%=book.id%>?_method=DELETE" method="POST">
          <div class="buttons is-centered">
            <input
              class="button is-danger is-focused"
              type="submit"
              value="Delete Book"
            />
          </div>
        </form>
      </fieldset>
    </div>
  </div>
  <%include ../partials/htmlFoot.ejs %>
</body>
