<% include ../partials/htmlHead.ejs %>
<body>
  <h2 id="greet">Hello <%=currentStudent.first_name%>!</h2>

  <h3>Your reading level is: <%=currentStudent.reading_level%></h3>

  <ul>
  Here is your reading list: 
  <fieldset>
  <%for(i=0; i<books.length; i++){%>
  <li>
  <%=books[i].title%>
  
  <!-- add a button form to borrow books here -->
<% if(books.quantity <= 0 ){ %>
  <p>Not Available</p>
<%} else if (currentStudent.book_bag.includes(books[i].title)){%>
  <form>
    <input type="button" value="In Your Book Bag">
  </form>

<%}else {%>
<form action="/home/student/<%=currentStudent.id%>/books/<%=books[i].id%>/borrow?_method=PUT" method="POST">

  <label for="books[i].quantity"><%=books[i].quantity%> available
  </label>
  <input type="number" name="quantity" id="borrow"  value="<%=books[i].quantity%>"/>
  <input type="submit" value="BORROW"/>

</form>
<%}%>
</li>
<%}%>
  </ul>
</fieldset>

<h3>In your book bag: <%=currentStudent.book_bag%></h3>

  <nav><a href="/home">Log Out</a></nav>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>
