<% include ../partials/htmlHead.ejs %>
<body>
<% include ../partials/htmlHeader.ejs %>
<div class="parent-container">
    <div class="tabs">
        <ul>
          <nav
            class="navbar columns"
            role="navigation"
            aria-label="main navigation"
          >
            <div class="navbar-start">
              <li>
                <a class="navbar-item" 
                href="/home/student/<%=currentStudent.id%>/bookbag">My Book Bag</a></li>
            </div>
  
            <div class="navbar-end">
              <!-- <div class="buttons"> -->
              <li><a class="navbar-item is-light" href="/home">Log Out</a></li>
            </div>
          </nav>
        </ul>
      </div>




  <h2 id="greet">Hello <strong><%=currentStudent.first_name%></strong></h2>

  <h3>Your reading level is: 
    <strong><%=currentStudent.reading_level%></strong></h3>

  
  Here is your reading list: 
  <div class="content">
  <ol type="1">
  <%for(i=0; i<books.length; i++){%>
  <li>
  <%=books[i].title%>
  
  <!-- add a button form to borrow books here -->
<% if(books.quantity <= 0 ){ %>
  <p>Not Available</p>
<%} else if (currentStudent.book_bag.includes(books[i].title)){%>
  <form>
    <input type="button" class="button is-info"value="In Your Book Bag">
  </form>

<%}else {%>
<form action="/home/student/<%=currentStudent.id%>/books/<%=books[i].id%>/borrow?_method=PUT" method="POST">

  <label for="books[i].quantity"><%=books[i].quantity%> available
  </label>
  <input type="number" name="quantity" id="borrow"  value="<%=books[i].quantity%>"/>
  <input class="button is-primary" type="submit" value="BORROW"/>

</form>
<%}%>
</li>
<%}%>
  </ol>
</div>


<h3>Books completed: <%=currentStudent.completed%></h3>


</div>

<% include ../partials/htmlFoot.ejs%>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>
